<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>deleteMember</title>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<div class="wrapper">
<th:block layout:fragment="header" th:insert="~{@{/header}}"></th:block>
<div class="login" align="center">
<form method='post' action="/deleteMember.do">
	<input type="hidden" name="_csrf" th:value="${_csrf?.token}">
	<table>
		<tr>
			<td colspan='2'>탈퇴하시겠습니까?</td>
		</tr>
		<tr>
			<td>비밀번호</td>
			<td><input type="password" name="memPw" required="required" style="width: 400px; height: 25px;"></td>
		</tr>
		<tr>
			<td colspan='2' style="text-align: center;"><input type="submit" value="탈퇴"></td>
		</tr>
	</table>
</form>
</div>
</div>
<th:block layout:fragment="footer" th:insert="~{@{/footer}}"></th:block>
</body>
</html>