<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/header.css">
</head>
<body>
<div class="wrapper">
<th:block layout:fragment="header" th:include="@{/header}"></th:block>
	<div style="float: left; width: 50%" align="center">
		<a href="n_joinForm">
		<table>
			<tr>
				<td><img></td>	<!--이미지 넣기 (그냥 일반 회원 이미지)  -->
			</tr>
			<tr>
				<td>일반 회원 등록</td>
			</tr>
		</table>
		</a>	
	</div>
	<div style="float: left; width: 50%" align="center">
		<a href="b_joinForm">
		<table>
			<tr>
				<td><img></td>
			</tr>
			<tr>
				<td>사업자 회원 등록</td>
			</tr>
		</table>
		</a>
	</div>
</div>
<th:block layout:fragment="footer" th:include="@{/footer}"></th:block>
</body>
</html>