<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
template-index
<div sec:authorize="isAnonymous()">
<button onclick="location.href='/login'">로그인</button>
<button onclick="location.href='/register'">회원가입</button>
</div>
<div sec:authorize="isAuthenticated()">
<button onclick="location.href='/myPage'">마이페이지</button>
<button onclick="location.href='/logout'">로그아웃</button>
</div>

<button onclick="location.href='/healthclass'">강좌리스트</button><br>
<button onclick="location.href='/main'">메인페이지</button><br>
</body>

</html>