<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/lecturelist/lecturedetail.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<style>
	td {
	padding : 10px;
	text-align : center;
}
</style>
<body>
<div class="wrapper">
<th:block layout:fragment="header" th:include="@{/header}"></th:block>
<div class="title-row" align="center">
	<div class="title">
		<a th:text="${healthclass.clName}"></a>
	</div>
</div>
<div class="content">
	<a th:text="|강좌타입 : ${healthclass.clType}|"></a>
</div>
<div class="content">
	<a th:text="|강사명 : ${healthclass.clMemname}|"></a>
</div>
<div class="content">
	<a th:text="|강좌소개 : ${healthclass.clIntro}|"></a>
</div>
<div class="content">
	<a th:text="|강좌일 : ${healthclass.clDay}|"></a>
</div>
<div class="content">
	<a th:text="|시작시간 : ${healthclass.clStart}|"></a>
</div>
<div class="content">
	<a th:text="|소요시간(분) : ${healthclass.clTime} |"></a>
</div>
<div class="content">
	<a>강사 프로필 : </a><ul class="image-profile" id="image-profile"></ul>
</div>
<div class="content">
	<a>강좌 썸네일 : </a><ul class="image-thumbnail" id="image-thumbnail"></ul>
</div>
<div>
<input type="button" value="수강신청" sec:authorize="isAuthenticated()" />
<input type="button" value="강의참여" sec:authorize="isAuthenticated()" />
<input type="button" value="관심등록" sec:authorize="isAuthenticated()" />
<input type="button" value="삭제"    th:onclick="'location.href=\''+ @{/healthclass/delete/{cl_no}(cl_no=${healthclass.clNo})} + '\''" />
<input type="button" value="수정"    th:onclick="'location.href=\''+ @{/healthclass/updateform/{cl_no}(cl_no=${healthclass.clNo})} + '\''" />
<input type="button" value="목록으로" th:onclick="'location.href=\''+ @{/healthclass/All/1} + '\''" />
</div>
<div>
<form action="/classnotice/write.do" method="post">
<input type="hidden" name="_csrf" th:value="${_csrf?.token}">
<a>공지작성</a><input type="textarea" style="width: 700px; height: 80px;" name="clnContent" id="clnContent" />
<input type="hidden" name="clnClno" th:value="${healthclass.clNo}"/>
<input type="submit" value="공지등록" />
</form>
</div>
<div>
<table class="board-table">
            <thead>
            <td>공지번호</td>
            <td style="width: 500px;">공지내용</td>
            <td>작성시간</td>
            </thead>
            <tbody>
                <tr th:each = "classnotice:${noticelist}">
                	<td th:text="${classnotice.clnNo}" style="text-align:center;"></td>
                	<td style="text-align:center; width: 500px; height:50px;" th:text="${classnotice.clnContent}"></td>
                	<td th:text="${classnotice.clnDate}"></td>
                    <td><button
                     th:onclick="'location.href=\''+@{/classnotice/delete/{clnClno}/{clnNo}(clnClno=${healthclass.clNo}, clnNo=${classnotice.clnNo})} + '\''">공지삭제</button></td>
                </tr>
            </tbody>
        </table>
</div>
</div>
<th:block layout:fragment="footer" th:include="@{/footer}"></th:block>
</body>
<script th:inline="javascript">
function classnoticeWrite() {
	fetch('classnotice/write.do', {
		method : 'POST',
		body : JSON.stringify({
			"clnContent" : document.getElementById('clnContent').value
		})
	}).then( (res) => {
		if ( !res.ok )
			throw new Error("400 or 500 ERR");
		return res.json();
	}).then( (data) => {
		console.log(data);
	}).catch(e=> console.log("err:"+e));
}
function goBack() {
	window.history.back();
}
window.onload = function() {
	const cl_no = /*[[${healthclass.clNo}]]*/'기본값';
	const profileFileName = /*[[${healthclass.clProfile}]]*/'기본값';
	const thumbnailFileName = /*[[${healthclass.clThumbnail}]]*/'기본값';
	if ( profileFileName == null) {
		document.getElementById("image-profile").innerHTML = "<a>프로필 사진 없음</a>";
	}
	else {
		const preview = createElement2(cl_no, profileFileName);
		document.getElementById("image-profile").appendChild(preview);
	}
	if (thumbnailFileName == null ) {
		document.getElementById("image-thumbnail").innerHTML = "<a>썸네일 사진 없음</a>";
	}
	else {
		const preview = createElement2(cl_no, thumbnailFileName);
		document.getElementById("image-thumbnail").appendChild(preview);
	}
}
function createElement2(cl_no, FileName) {
	const li = document.createElement('li');
    const img = document.createElement('img');
    //img.setAttribute('src', filename);
    img.setAttribute('src', "/upload/"+cl_no + "_" + FileName);
    //img.setAttribute('src', "upload/"+cl_no + "_"+ FileName);
    img.setAttribute('width', 150);
    img.setAttribute('height', 150);
    li.appendChild(img);
    return li;
}
</script>
</html>