<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/header.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function back(){
     history.back();
}
</script>
</head>
<body>
<div align="right">
<div sec:authorize="isAnonymous()">
<button onclick="location.href='/login'">로그인</button>
<button onclick="location.href='/register'">회원가입</button>
</div>
<div sec:authorize="isAuthenticated()">
<button onclick="location.href='/myPage'">마이페이지</button>
<button onclick="location.href='/logout'">로그아웃</button>
</div>
</div>
<div>
	<h1><a href="/main"><img src="/image/airplane.png" alt="로고" style="weight: 100px; height:100px;"></a></h1>
</div>
<div class="topMenu" >
	<ul class="menu">
		<li class="li"><a class="menuLink">메뉴1</a></li>
		<li class="li"><a class="menuLink">메뉴2</a></li>
		<li class="li"><a class="menuLink">메뉴3</a></li>
	</ul>
</div>
	<div class="container" align="center">
		<h2 class="text-primary">강좌 수정</h2>
		<form th:action="@{/healthclass/update/{cl_no}(cl_no=${healthclass.cl_no})}" method="post" name="frm"
			onsubmit="return chk()" enctype="multipart/form-data">
			<table class="table table-striped">			
				<tr>
					<td>강좌타입</td>
					<td>
					<select class="box" name="cl_type">
  						<option value="헬스"  th:selected="${healthclass.cl_type} == '헬스'">헬스</option>
  						<option value="재활" th:selected="${healthclass.cl_type} == '재활'">재활</option>
  						<option value="필라테스" th:selected="${healthclass.cl_type} == '필라테스'">필라테스</option>
  						<option value="요가"  th:selected="${healthclass.cl_type} == '요가'">요가</option>	
  						<option value="시니어" th:selected="${healthclass.cl_type} == '시니어'">시니어</option>
					</select>
					</td>
				</tr>
				<tr>
					<td>강좌명</td>
					<td>
					<input type="text" name="cl_name" required="required" style="width: 900px; height: 25px;"
						th:value="${healthclass.cl_name}">
					</td>
				</tr>
				<tr>
					<td>소개</td>
					<td>
						<textarea name="cl_intro" required="required" style="width: 900px; height: 450px;"
						th:text="${healthclass.cl_intro}" />
						</td>
				</tr>
				<tr>
					<td>강좌일</td>
					<td>
					<select class="box" name="cl_day">
  						<option value="Monday"  th:selected="${healthclass.cl_day} == 'Monday'">Monday</option>
  						<option value="Tuesday" th:selected="${healthclass.cl_day} == 'Tuesday'">Tuesday</option>
  						<option value="Wednsday" th:selected="${healthclass.cl_day} == 'Wednsday'">Wednsday</option>
  						<option value="Thursday"  th:selected="${healthclass.cl_day} == 'Thursday'">Thursday</option>	
  						<option value="Friday" th:selected="${healthclass.cl_day} == 'Friday'">Friday</option>
  						<option value="Saturday" th:selected="${healthclass.cl_day} == 'Saturday'">Saturday</option>
  						<option value="Sunday" th:selected="${healthclass.cl_day} == 'Sunday'">Sunday</option>
					</select>
					</td>
				</tr>
				<tr>
					<td>시작시간</td>	
					<td>
					<input type="text" name="cl_start1" required="required" style="width: 30px; height: 25px;"
						th:value="${cl_start1}">
						:
					<input type="text" name="cl_start2" required="required" style="width: 30px; height: 25px;"
						th:value="${cl_start2}">
					</td>
				</tr>
				<tr>
					<td>소요시간(분)</td>
					<td>
						<input type="text" name="cl_time" required="required" style="width: 70px; height: 25px;"
						th:value="${healthclass.cl_time}" />
					</td>
				</tr>
				<!-- 프로필 사진 -->
				<tr>
					<td>강사사진</td>
					<td>
					<input type="file" name="profile" id="profile"/>
					<ul class="image-profile" id="image-profile"></ul>
					</td>
				</tr>
				<tr>	
					<td>강의 썸네일</td>
					<td>
					<input type="file" name="thumbnail" id="thumbnail"/>
					<ul class="image-thumbnail" id="image-thumbnail"></ul>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
					<input type="submit" value="수정">
					<input type="button" value="취소" onclick="back()">
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
<script th:inline="javascript">
function goBack() {
	window.history.back();
}
window.onload = function() {
	document.getElementById("profile").addEventListener('change', getImageFilesProfile);
	document.getElementById("thumbnail").addEventListener('change', getImageFilesThumbnail);
	const cl_no = /*[[${healthclass.cl_no}]]*/'기본값'
	const profileFileName = /*[[${healthclass.cl_profile}]]*/'기본값';
	const thumbnailFileName = /*[[${healthclass.cl_thumbnail}]]*/'기본값';
	if ( profileFileName == null) {
		document.getElementById("image-profile").innerHTML = "<a>저장된 프로필 사진 없음</a>";
	}
	else {
		const preview = createElement2(cl_no, profileFileName);
		document.getElementById("image-profile").appendChild(preview);
	}
	if (thumbnailFileName == null ) {
		document.getElementById("image-thumbnail").innerHTML = "<a>저장된 썸네일 사진 없음</a>";
	}
	else {
		const preview = createElement2(cl_no, thumbnailFileName);
		document.getElementById("image-thumbnail").appendChild(preview);
	}
}
function getImageFilesProfile(e) {
    const files = e.currentTarget.files;
    const imagePreview = document.querySelector('.image-profile');
	document.getElementById("image-profile").replaceChildren();
    // 파일 타입 검사
    [...files].forEach(file => {
      if (!file.type.match("image/.*")) {
        alert('이미지 파일만 업로드가 가능합니다.');
        return;
      } // if
    
        const reader = new FileReader();
        reader.onload = (e) => {
          const preview = createElement(e, file);
          imagePreview.appendChild(preview);
        }; //onload
        reader.readAsDataURL(file);
    }); // forEach
  } //getImageFilesProfile
  function getImageFilesThumbnail(e) {
	    const files = e.currentTarget.files;
	    const imagePreview = document.querySelector('.image-thumbnail');
		document.getElementById("image-thumbnail").replaceChildren();
	    // 파일 타입 검사
	    [...files].forEach(file => {
	      if (!file.type.match("image/.*")) {
	        alert('이미지 파일만 업로드가 가능합니다.');
	        return;
	      } // if
	    
	        const reader = new FileReader();
	        reader.onload = (e) => {
	          const preview = createElement(e, file);
	          imagePreview.appendChild(preview);
	        }; //onload
	        reader.readAsDataURL(file);
	    }); // forEach
	  } //getImageFilesThumbnail
	  
function createElement(e, file) {
    const li = document.createElement('li');
    const img = document.createElement('img');
    img.setAttribute('src', e.target.result);
    img.setAttribute('data-file', file.name);
    img.setAttribute('width', 150);
    img.setAttribute('height', 150);
    li.appendChild(img);

    return li;
  }
function createElement2(cl_no, FileName) {
	const li = document.createElement('li');
    const img = document.createElement('img');
    //img.setAttribute('src', filename);
    img.setAttribute('src', "/upload/"+cl_no + "_" + FileName);
    //img.setAttribute('src', "upload/"+cl_no + "_"+ FileName);
    img.setAttribute('width', 150);
    img.setAttribute('height', 150);
    li.appendChild(img);
    return li;
}
</script>
</html>